.idea/

# Dependencies
node_modules/

# Environment files
.env
**/.env
!.env.example
!**/.env.example

# Frontend build
frontend/dist/
frontend/certs/*.crt
frontend/certs/*.key

# Backend runtime data
backend/data/*
!backend/data/.gitkeep

# Uploaded files
backend/uploads/*
!backend/uploads/avatars/
!backend/uploads/listings/
!backend/uploads/avatars/.gitkeep
!backend/uploads/listings/.gitkeep

*:Zone.Identifier
